.diary-outer {
	width:100%;
	padding:0px;
	margin:0px;

	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:13px;
	overflow:hidden;
	

}

.diary-cannot-select {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.diary-navigation {

	width:100%;
	height:40px;
	position:absolute;
	background:#fff;
	z-index:1000;
}

.diary-scroll {
	width:100%;
	top:140px;
	overflow-y:scroll;
	position:absolute;
}

.diary-inner {
	width:100%;
	float:none;
	overflow:scroll;
	z-index:500;
	position:absolute;
}

.diary-menu {
	float:left;
	z-index:2000px;
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
  	border-right:1px solid #ccc;
}

.diary-menu-header {
	height:20px;
}

.diary-menu .item {
	width:100%;
	border-left:none !important;
	background:#fff;
}



.diary-calendar {
	float:left;
	overflow-x:scroll;

}

.wkend {
	background:#f9f9f9;
}

.today {
	background:#E8F2F8;
}


body {overflow:hidden;}

.diary-panel {
	position:absolute;
	top:40px;
	z-index:2000;
	height:101px;
	background:#fff;
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
  	border-right:1px solid #ccc;
  	border-bottom:1px solid #ccc;
}

.diary-header {
	position:absolute;
	top:40px;
	z-index:1000;
	height:100px;
	background:#fff;

	border-bottom:1px solid #ccc;
	/*width set by javascript*/
}

.diary-outer .col {
	position:relative;
	float:left;
	border-right:1px solid #eee;
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;

}

.diary-inner .col span {
	position:absolute;
}


.diary-outer .row {
	height:200px;
	position:relative;
	border:1px solid #eee;
	border-right:none;
	border-bottom:none;
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
}

.diary-outer .row span {
	position:absolute;
	margin:10px;
	display:block;
}

.diary-header .block {
	border:1px solid #eee;
	border-top:1px solid #ccc;
	border-right:none;
	border-bottom:none;
	height:100px;
	padding:6px;

}

.diary-header .cal {
	display:block;
	padding:0px 0px;
	

}


.diary-header .block .cal span {
	text-align:center;
	display:block;
	
}

.diary-header .block span.M {font-size:14px; text-transform:uppercase; }
.diary-header .block span.Y {font-size:10px; margin-bottom:9px;}
.diary-header .block span.DY {font-size:14px; text-transform: uppercase; line-height:17px;}
.diary-header .block span.D {font-size:30px; font-weight:bold; line-height:25px;}
.diary-header .block span.T {font-size:10px; font-weight:bold;}


.diary-calendar-bookings {
	position:relative;
}

.diary-booking {
	position:absolute;
	height:200px;
}



.diary-booking-inner {
	margin:10px;
	height:80px;
	background:#E2F1FC;
	border-radius:10px;
	position:relative;
	border:1px solid #666;
}

.diary-booking-temp .diary-booking-inner {
	border:1px dashed #000;
	cursor:pointer;
}

.diary-booking-temp .diary-booking-inner .hotspot {
	background:#A3D4F5;
}

.diary-booking-inner.lifted {
	-webkit-box-shadow:  1px 1px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow:  1px 1px 5px 1px rgba(0, 0, 0, 0.3);
}

.diary-booking-inner span {
	display:block;
}

.diary-booking-inner span.diary-booking-contact {
	left:10px;
	top:24px;
	font-size:14px;
	margin:20px 0px 0px 10px;
	font-weight:bold;
	line-height:11px;
}

.diary-booking-inner span.diary-booking-status {
	left:10px;
	top:42px;
	text-transform:uppercase;
	margin:4px 0px 0px 10px;
	font-size:11px;
}

.diary-booking-inner a.diary-booking-edit {
	display:block;
	position:absolute;
	right:7px;
	bottom:7px;
	font-size:11px;
	color:#000;
	text-decoration: none;
	text-transform:uppercase;
}


.diary-booking-inner .hotspot {
	position:absolute;
	display:block;
	background:#51B3F5;
	border-radius:10px;
	width:15px;
	height:15px;
}

.hotspot.move {
	left:15%;
	top:0px;
	width:70%;
	border-radius:0px 0px 0px 0px;
	cursor:move;

}

.hotspot.left {
	left:0px;
	top:0px;
	width:15%;
	border-radius:10px 0px 0px 0px;
	cursor:w-resize;
}

.hotspot.right {
	right:0px;
	top:0px;
	width:16%;
	border-radius:0px 10px 0px 0px;
	cursor:e-resize;
}


.cell {
	cursor:pointer;
}

.cell.unavailable {
	background:#ddd;
}



.cell.temp {
	/*background:#BBE0F8;
	border-left:1px solid #BBE0F8;*/
}

.cell.locked {
	cursor:not-allowed;
}

.cell.nospace {
	cursor:not-allowed;
}
.cell.booked {
	/*background:#ddd;*/
}

